@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
body {
  background: #F5F4FC;
  scroll-behavior: smooth;
}
.containe {
  width: 95%;
  margin: 0 auto;
}
.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
  margin-left: auto;
}
.hamb-line {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}
.hamb-line::before,
.hamb-line::after{
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.hamb-line::before{
  top: 5px;
}
.hamb-line::after{
  top: -5px;
}
.rotaft::after {
  transform: rotate(-45deg);
  top:0;
}
.rotbef::before {
  transform: rotate(45deg);
  top:0;
}
@media not all and (min-width: 640px) {
  .menu {
    display: none;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
  }
}